<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="knight"
          class="knightTemple.Knight">
        <property name="armor" value="lats"/>
        <property name="weapon" value="double swords"/>
        <property name="health" value="547"/>
    </bean>

</beans>